main {
    padding: 1rem 0;
}

#toolbar {
    display: flex;
    justify-content: center;
    align-items: center;
}

.content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

table {
    /* max-width: 720px; */
    margin: 1rem 0;
}
